#edit-avatar-frame
{
    width:800px; 
    height:523px;  
    border-color: #000000;
    border-style: solid;
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    margin-bottom:auto;
    background-color:#fffac7;
}
#avatar-creation 
{
    height:200px; 
    width: 400px; 
    position: absolute; 
    top:50px;
    border-style: none;
}

#avatar-full-hair,#avatar-full-eyes,#avatar-full-mouth,#avatar-full-extra
{
    height: 100px; 
    width: 100px; 
    float:left;
    border-style: none;
}


#selection-list 
{
    height:370px; 
    width:380px; 
    position: absolute; 
    top:100px; 
    border-color: #fff;
    border-style: inset; 
    border-radius: 25px;
}

#color-selection 
{
    height:50px; 
    width:380px; 
    position: absolute; 
    top:420px; 
    z-index: 1;
}

#avatar-bg 
{
    z-index: 0;
    height:600px; 
    width:900px; 
    position: relative;
    left: 370px;
    top: 238px;
}

#bg-img 
{
    height: 50%; 
    width: 50%;
}

#button-save 
{
    position: relative;
    height: 50px; 
    width: 100px;
    left: 690px;
    bottom: 1130px;
    border-color: #fff;
    border-style: inset; 
    border-radius: 10px;
    background-color:#2ac98c;
    cursor:pointer;
    z-index: 2;
}

#avatar-full 
{
    height:1000px; 
    width:700px;
    position: relative;
    left: 420px;                                
    bottom: 600px;
    border-style: none;
    z-index: 1;
}

#AvatarBody,#AvatarHair,#AvatarEyes,#AvatarMouth,#AvatarExtra
{
    border-style: none;
    height: 50%; 
    width: 50%; 
    position: absolute;
}
