.wrapper{
	width: 100%;
	height: 100%;
	text-align: center;

}

img{
	height: 100%;
}
.top_menu{
	
	background-image: url("../assets/images/toolBarItems/tool-bar.png");
	width : 800px;
	height: 77px;
	margin-left: auto;
	margin-right: auto;

}
.avatar_layout{
	height: 77px !important;
	width: 77px !important;

}

.avatar_image{
	height:110px !important;
	width: 110px !important;
	position: absolute;
	top : -11px;
	right : 4px;
	
}

.cta_avatar img{
	height: 100%;
}

#my_zone{
	
}

#video_page{
	
}

#game_page{

}

#avatar{
	background-image: url("/images/tool_bar_items/only-leader-head.png");
	width : 120px;
	height : 77px;
}
.top_menu .cta{
	position: relative;
	width : 10%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	cursor: pointer;
	z-index : 2;
	height: 100%;
}

.top_menu{
	
}

.tsamid_logo{
		height: 100px;
		width : 10%;
		display: inline-block;
	}

.top_menu .cta:hover{
	background-color: #63bded;
}

.top_menu .user_info{
	width : 30%;
	display: inline-block;
	z-index : 2;
	color : orange;
	position: relative;
	vertical-align: top;

}

.top_menu .user_info .text_info{
	width: 39%;
	display: inline-block;
	vertical-align: top;
}

.top_menu .user_info .avatar_image{
	width: 49%;
	height: 100%;
	display: inline-block;
	text-align: center;
	
}

.top_menu .user_info .avatar_image img{
	height: 100%;
	vertical-align: bottom;
}




.close{
	cursor: default;
}



#main_iframe{
	margin-top: auto;
	text-align: center;
	height: 523px;
	width: 800px;
}


}
}


