.main_screen{
	
	width: 100%;
	height: 427px;
	
}

.main_screen .main_display{
	text-align: center;
	margin-right: 100px;
	margin-left: 100px;
	height: 100%;
	background-color: #40404a;
}

.main_screen img{
	height: 100%;

	
}



.main_screen .upload_button{
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	float: right;
	margin-top: 200px;
	width: 100px;
}


.bottom_activity{
	width: 100%;
	height : 100px;
}

.avatar_image{
	border: 0px solid !important;
	
}
.avatar_layout{
	border: 0px solid !important;
}

.avatar_img {
	height: 110px;
	width: 14%;
	display: inline-block;
	text-align: center;
	position: relative;
	border: 0px solid !important;
	-moz-outline-style: none;
	outline: none;
	border: 0;
	display: none;			

}

.avatar_img img{
	height: 100%;
	width: 100%;
	position: absolute !important;
	
}

.avatar_section img{
	outline: none;
	border: 0px solid !important;
}

.video_placeholder{
	height: 50%;
	display: inline-block;
	width: 16.3%;
	background: black;

}